## Hent data fra Bibsys autoritetsregister

In [6]:
import re
import pandas as pd

In [7]:
import dhlab.nbtext as nb

In [18]:
df = pd.read_json('authority.json')

In [51]:
df[(df.birth < "1880") & (df.death > "1800")].to_excel('forfattere_ff_1880.xls')

In [52]:
df[(df.birth < "1880") & (df.death > "1800")]

                           lifespan birth death
Henrik Wergeland          1808-1845  1808  1845
Henrik Ibsen              1828-1906  1828  1906
Jonas Lie                 1868-1943  1868  1943
Camilla Collett           1813-1895  1813  1895
Arne Garborg              1851-1924  1851  1924
...                             ...   ...   ...
Nordahl Brun Rolfsen      1848-1928  1848  1928
Johan Christian Heuch     1838-1904  1838  1904
Gustav Peter Blom         1785-1869  1785  1869
Kristian Oskar Bjørnstad  1875-1968  1875  1968
Henrik Johan Bull         1844-1930  1844  1930

[785 rows x 3 columns]

In [53]:
df[df.index.str.contains('Gustav')]

                    lifespan birth death
Gustav Storm       1845-1903  1845  1903
Gustava Kielland   1800-1889  1800  1889
Carl Gustav        1853-1917  1853  1917
Erik Gustav            1942-  1942
Jørgen Gustav          1989-  1989
Gustav Peter       1785-1869  1785  1869
Gustav Theodor     1794-1873  1794  1873
Johan Gustav           1962-  1962
Oscar Gustav       1858-1950  1858  1950
Gustav Oscar       1858-1950  1858  1950
Gustav Lund        1862-1912  1862  1912
Gustav Peter Blom  1785-1869  1785  1869

In [55]:
nb.book_urn(author = "%gustav%johan%")

[[2012070408070,
  'Diertrichson, Gustav Johan Fredrik',
  'I prøvelsernes tid',
  1915]]