In [1]:
import sqlite3
import json
import pandas as pd

In [10]:
geo_no = pd.read_csv("./NO/NO.txt", sep='\t', header=None)

In [21]:
header =[x.split(":")[0].strip() for x in  """geonameid         : integer id of record in geonames database
name              : name of geographical point (utf8) varchar(200)
asciiname         : name of geographical point in plain ascii characters, varchar(200)
alternatenames    : alternatenames, comma separated, ascii names automatically transliterated, convenience attribute from alternatename table, varchar(10000)
latitude          : latitude in decimal degrees (wgs84)
longitude         : longitude in decimal degrees (wgs84)
feature class     : see http://www.geonames.org/export/codes.html, char(1)
feature code      : see http://www.geonames.org/export/codes.html, varchar(10)
country code      : ISO-3166 2-letter country code, 2 characters
cc2               : alternate country codes, comma separated, ISO-3166 2-letter country code, 200 characters
admin1 code       : fipscode (subject to change to iso code), see exceptions below, see file admin1Codes.txt for display names of this code; varchar(20)
admin2 code       : code for the second administrative division, a county in the US, see file admin2Codes.txt; varchar(80) 
admin3 code       : code for third level administrative division, varchar(20)
admin4 code       : code for fourth level administrative division, varchar(20)
population        : bigint (8 byte int) 
elevation         : in meters, integer
dem               : digital elevation model, srtm3 or gtopo30, average elevation of 3''x3'' (ca 90mx90m) or 30''x30'' (ca 900mx900m) area in meters, integer. srtm processed by cgiar/ciat.
timezone          : the iana timezone id (see file timeZone.txt) varchar(40)
modification date : date of last modification in yyyy-MM-dd format""".split("\n")]

In [22]:
header

['geonameid',
 'name',
 'asciiname',
 'alternatenames',
 'latitude',
 'longitude',
 'feature class',
 'feature code',
 'country code',
 'cc2',
 'admin1 code',
 'admin2 code',
 'admin3 code',
 'admin4 code',
 'population',
 'elevation',
 'dem',
 'timezone',
 'modification date']

In [23]:
geo_no.columns = header

In [27]:
geo_no[geo_no.name == 'Trondheim']

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
10097,3133880,Trondheim,Trondheim,"Kommun Trondheim,Nidaros,Nidrosia,THrandheimur...",63.43049,10.39506,P,PPLA2,NO,NaN,21.0,5001.0,NaN,NaN,147139,NaN,18,Europe/Oslo,2019-09-05
10098,3133881,Trondheim,Trondheim,"Gorad Tronkhejm,Kommun Trondheim,Nidrosia,THra...",63.42811,10.39687,A,ADM2,NO,NaN,21.0,5001.0,NaN,NaN,168257,NaN,18,Europe/Oslo,2019-03-08

In [40]:
geo_no[geo_no["alternatenames"].fillna('').str.contains('Christiania')]

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
19351,3143244,Oslo,Oslo,"Asloa,Christiania (historical),Kristiania (his...",59.91273,10.74609,P,PPLC,NO,NaN,12.0,301.0,NaN,NaN,580000,NaN,26,Europe/Oslo,2019-09-05

In [33]:
geo_no[geo_no['name'] == "Trondheim"]

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
10097,3133880,Trondheim,Trondheim,"Kommun Trondheim,Nidaros,Nidrosia,THrandheimur...",63.43049,10.39506,P,PPLA2,NO,NaN,21.0,5001.0,NaN,NaN,147139,NaN,18,Europe/Oslo,2019-09-05
10098,3133881,Trondheim,Trondheim,"Gorad Tronkhejm,Kommun Trondheim,Nidrosia,THra...",63.42811,10.39687,A,ADM2,NO,NaN,21.0,5001.0,NaN,NaN,168257,NaN,18,Europe/Oslo,2019-03-08

In [38]:
geo_no.loc[10097]['alternatenames']

True

In [41]:
geo_no.to_json('geo_norsk.json')

In [42]:
geo = pd.read_json('geo_norsk.json')

In [44]:
geo[geo.name == 'Lofoten']

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
23153,3147088,Lofoten,Lofoten,"Lofoten,Lofoten Islands",68.20483,12.79496,T,ISLS,NO,NO,9.0,1865.0,NaN,NaN,0,NaN,-9999,Europe/Oslo,2018-01-29

In [46]:
geo[geo.alternatenames.fillna('').str.contains('Christiania')]

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
19351,3143244,Oslo,Oslo,"Asloa,Christiania (historical),Kristiania (his...",59.91273,10.74609,P,PPLC,NO,None,12.0,301.0,NaN,NaN,580000,NaN,26,Europe/Oslo,2019-09-05

In [47]:
geo[geo.alternatenames.fillna('').str.contains('Nidaros')]

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
10097,3133880,Trondheim,Trondheim,"Kommun Trondheim,Nidaros,Nidrosia,THrandheimur...",63.43049,10.39506,P,PPLA2,NO,None,21.0,5001.0,NaN,NaN,147139,NaN,18,Europe/Oslo,2019-09-05

In [52]:
geo[geo.alternatenames.fillna('').str.contains('Bergen')]

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
100213,9069155,Bergeneset,Bergeneset,Bergeneset,69.25509,19.16846,T,HDLD,NO,None,54.0,5422.0,NaN,NaN,0,NaN,88,Europe/Oslo,2019-12-12
102235,9071189,Bergenget,Bergenget,Bergenget,65.62439,13.16695,T,HDLD,NO,None,9.0,1824.0,NaN,NaN,0,NaN,360,Europe/Oslo,2014-05-29
10339,3134126,Tovdalsberga,Tovdalsberga,"Sollian,Solliin,Tovdals-Bergene,Tovdalsberga",62.89876,9.44729,T,HLL,NO,NO,21.0,5061.0,NaN,NaN,0,NaN,1000,Europe/Oslo,2019-06-07
105831,9135735,Bergenipa,Bergenipa,Bergenipa,62.27738,6.05752,T,MT,NO,None,8.0,1520.0,NaN,NaN,0,NaN,647,Europe/Oslo,2014-06-08
107973,9137877,Longe Bergene,Longe Bergene,Longe Bergene,58.85327,5.99359,T,MT,NO,None,14.0,1108.0,NaN,NaN,0,NaN,387,Europe/Oslo,2019-12-12
112882,9142790,Bergenden,Bergenden,Bergenden,68.84917,16.99523,T,MT,NO,None,54.0,5413.0,NaN,NaN,0,NaN,20,Europe/Oslo,2019-12-12
115365,9145311,Slette Bergene,Slette Bergene,Slette Bergene,58.75509,6.25804,T,MT,NO,None,14.0,1114.0,NaN,NaN,0,NaN,713,Europe/Oslo,2014-06-08
120447,9150413,Bergenussøyin,Bergenussoyin,"Bergenussoyin,Bergenussøyin",61.66251,8.70288,T,ISL,NO,None,34.0,3434.0,NaN,NaN,0,NaN,1320,Europe/Oslo,2019-12-12
123936,9153903,Bergenden,Bergenden,Bergenden,66.61568,13.46855,T,CLF,NO,None,9.0,1836.0,NaN,NaN,0,NaN,220,Europe/Oslo,2014-06-09
137309,9201608,Bergenn-gutune,Bergenn-gutune,Bergenn-gutune,59.46686,9.27252,H,MOOR,NO,None,38.0,3817.0,NaN,NaN,0,NaN,125,Europe/Oslo,2019-12-12
155691,9220262,Bergenåsen,Bergenasen,"Bergenasen,Bergenåsen",59.41842,9.04247,T,HLL,NO,None,38.0,3817.0,NaN,NaN,0,NaN,140,Europe/Oslo,2019-12-12
157204,9221779,Bergendalsheia,Bergendalsheia,Bergendalsheia,58.64804,9.09549,T,HLL,NO,None,42.0,4213.0,NaN,NaN,0,NaN,70,Europe/Oslo,2019-12-12
158120,9222705,Bergen Station,Bergen Station,Bergen stasjon,60.39045,5.33313,S,RSTN,NO,None,46.0,4601.0,NaN,NaN,0,NaN,7,Europe/Oslo,2019-12-12
162259,9227135,Bergengåsen,Bergengasen,"Bergengasen,Bergengåsen",65.27132,12.65726,T,HLL,NO,None,9.0,1813.0,NaN,NaN,0,NaN,80,Europe/Oslo,2014-07-17
166003,9230987,Bergenatten,Bergenatten,Bergenatten,59.71859,8.97755,T,HLL,NO,None,38.0,3808.0,NaN,NaN,0,NaN,658,Europe/Oslo,2019-12-12
185337,9250548,Bergenuten,Bergenuten,Bergenuten,60.01819,7.61864,T,HLL,NO,None,38.0,3825.0,NaN,NaN,0,NaN,1130,Europe/Oslo,2019-12-12
185372,9250583,Bergenuten,Bergenuten,Bergenuten,60.00996,7.85378,T,HLL,NO,None,38.0,3825.0,NaN,NaN,0,NaN,1040,Europe/Oslo,2019-12-12
185833,9251044,Bergendalsmoen,Bergendalsmoen,Bergendalsmoen,60.03157,10.58333,T,HLL,NO,None,12.0,301.0,NaN,NaN,0,NaN,220,Europe/Oslo,2014-07-19
193747,9302999,Bergenusstjørni,Bergenusstjorni,"Bergenusstjonne,Bergenusstjorni,Bergenusstjønn...",61.66720,8.70178,H,PND,NO,None,34.0,3434.0,NaN,NaN,0,NaN,1308,Europe/Oslo,2019-12-12
194921,9304173,Bergenhus,Bergenhus,Bergenhus,60.40123,5.32561,P,PPLX,NO,None,46.0,4601.0,NaN,NaN,0,NaN,247,Europe/Oslo,2019-12-12
239685,9349867,Bergenusshaugen,Bergenusshaugen,Bergenusshaugen,61.66456,8.68365,T,HLL,NO,None,34.0,3434.0,NaN,NaN,0,NaN,1316,Europe/Oslo,2019-12-12
247587,9357943,Bergenskollen,Bergenskollen,Bergenskollen,60.57847,9.93400,T,HLL,NO,None,30.0,3007.0,NaN,NaN,0,NaN,320,Europe/Oslo,2019-12-12
264051,9374438,Bergenget,Bergenget,Bergenget,63.96148,11.31537,T,HLL,NO,None,21.0,5053.0,NaN,NaN,0,NaN,11,Europe/Oslo,2018-05-08
264522,9374909,Bergenden,Bergenden,Bergenden,69.17022,19.08484,T,HLL,NO,None,54.0,5422.0,NaN,NaN,0,NaN,198,Europe/Oslo,2019-12-12
266529,9376918,Bergenden,Bergenden,Bergenden,69.16916,17.60709,T,HLL,NO,None,54.0,5421.0,NaN,NaN,0,NaN,73,Europe/Oslo,2019-12-12
271099,9381495,Bergenden,Bergenden,Bergenden,60.76297,9.77180,T,HLL,NO,None,34.0,3449.0,NaN,NaN,0,NaN,715,Europe/Oslo,2019-12-12
271670,9382066,Bergendberget,Bergendberget,Bergendberget,61.85779,9.12148,T,HLL,NO,None,34.0,3435.0,NaN,NaN,0,NaN,780,Europe/Oslo,2019-12-12
280483,9391243,Bergene,Bergene,Bergene,58.92763,5.97077,T,HLL,NO,None,14.0,1108.0,NaN,NaN,0,NaN,24,Europe/Oslo,2019-12-12
280822,9391582,Bergenden,Bergenden,Bergenden,68.42812,16.41306,T,HLL,NO,None,54.0,5412.0,NaN,NaN,0,NaN,60,Europe/Oslo,2019-12-12
291949,9402728,Bergene,Bergene,Bergene,58.69517,5.70519,T,HLL,NO,None,14.0,1121.0,NaN,NaN,0,NaN,72,Europe/Oslo,2014-08-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491509,9705631,Bergeneset,Bergeneset,Bergeneset,70.17288,20.41206,T,PT,NO,None,54.0,5427.0,NaN,NaN,0,NaN,88,Europe/Oslo,2019-12-12
493332,9707454,Bergeneset,Bergeneset,Bergeneset,69.72718,20.52513,T,PT,NO,None,54.0,5426.0,NaN,NaN,0,NaN,169,Europe/Oslo,2019-12-12
493613,9707735,Bergeneset,Bergeneset,Bergeneset,69.83431,21.15442,T,PT,NO,None,54.0,5428.0,NaN,NaN,0,NaN,-9999,Europe/Oslo,2019-12-12
494117,9708239,Bergeneset,Bergeneset,Bergeneset,68.90126,17.78262,T,PT,NO,None,54.0,5417.0,NaN,NaN,0,NaN,86,Europe/Oslo,2019-12-12
494171,9708293,Bergeneset,Bergeneset,Bergeneset,61.96158,5.19591,T,PT,NO,None,46.0,4602.0,NaN,NaN,0,NaN,-9999,Europe/Oslo,2019-12-12
496223,9710345,Bergeneset,Bergeneset,Bergeneset,68.89508,14.83952,T,PT,NO,None,9.0,1868.0,NaN,NaN,0,NaN,50,Europe/Oslo,2014-10-13
496481,9710603,Bergeneset,Bergeneset,Bergeneset,69.23676,19.36000,T,PT,NO,None,54.0,5422.0,NaN,NaN,0,NaN,1,Europe/Oslo,2019-12-12
496804,9710926,Bergeneset,Bergeneset,Bergeneset,69.86368,19.73597,T,PT,NO,None,54.0,5423.0,NaN,NaN,0,NaN,1,Europe/Oslo,2019-12-12
496806,9710928,Bergeneset,Bergeneset,Bergeneset,69.83864,19.40808,T,PT,NO,None,54.0,5423.0,NaN,NaN,0,NaN,-9999,Europe/Oslo,2019-12-12
497600,9711722,Bergeneset,Bergeneset,Bergeneset,70.56316,24.03430,T,PT,NO,None,54.0,5406.0,NaN,NaN,0,NaN,-9999,Europe/Oslo,2019-12-12
498726,9712848,Bergeneset,Bergeneset,Bergeneset,57.99357,7.54502,T,PT,NO,None,42.0,4205.0,NaN,NaN,0,NaN,15,Europe/Oslo,2019-12-12
509046,9723170,Bergenesskjæret,Bergenesskjaeret,"Bergenesskjaeret,Bergenesskjæret",69.55941,19.67942,T,RK,NO,None,54.0,5401.0,NaN,NaN,0,NaN,-9999,Europe/Oslo,2019-12-12
552765,9767012,Bergendalbekken,Bergendalbekken,Bergendalbekken,64.52767,12.35480,H,STM,NO,None,21.0,5045.0,NaN,NaN,0,NaN,104,Europe/Oslo,2018-05-08
552779,9767026,Bergengbekken,Bergengbekken,Bergengbekken,64.64097,12.36755,H,STM,NO,None,21.0,5046.0,NaN,NaN,0,NaN,240,Europe/Oslo,2018-05-08
55501,8532381,Bergen domkirke,Bergen domkirke,"Bergen domkirke,Domkirken",60.39392,5.33045,S,CH,NO,None,46.0,4601.0,NaN,NaN,0,NaN,180,Europe/Oslo,2019-12-12
555754,9770006,Bergengbekken,Bergengbekken,Bergengbekken,65.41988,13.96229,H,STM,NO,None,9.0,1826.0,NaN,NaN,0,NaN,371,Europe/Oslo,2014-10-15
562809,9777061,Bergeneselva,Bergeneselva,Bergeneselva,69.56278,19.66629,H,STM,NO,None,54.0,5401.0,NaN,NaN,0,NaN,40,Europe/Oslo,2019-12-12
563595,9777847,Bergengseterbekken,Bergengseterbekken,Bergengseterbekken,64.68108,12.60634,H,STM,NO,None,21.0,5045.0,NaN,NaN,0,NaN,340,Europe/Oslo,2018-05-08
566085,9780350,Bergengbekken,Bergengbekken,Bergengbekken,62.46256,10.41795,H,STM,NO,None,34.0,3427.0,NaN,NaN,0,NaN,860,Europe/Oslo,2019-12-12
572155,9787995,Bergengbekken,Bergengbekken,Bergengbekken,65.62629,13.16899,H,STM,NO,None,9.0,1824.0,NaN,NaN,0,NaN,460,Europe/Oslo,2014-10-28
57340,8557593,Bergene skule,Bergene skule,Bergene skule,61.01449,9.52848,S,SCH,NO,None,34.0,3450.0,NaN,NaN,0,NaN,600,Europe/Oslo,2019-12-12
578359,9806197,Bergen Port,Bergen Port,"Bergen Ferry Port,Bergen Harbour",60.39303,5.31639,L,PRT,NO,None,46.0,4601.0,NaN,NaN,0,NaN,-9999,Europe/Oslo,2019-12-12
582823,9826443,Bergenes,Bergenes,Bergenes,69.56267,19.67855,S,FRM,NO,None,54.0,5401.0,NaN,NaN,0,NaN,-9999,Europe/Oslo,2019-12-12
593754,9838964,Bergenget,Bergenget,Bergenget,64.66076,12.63332,S,FRM,NO,None,21.0,5045.0,NaN,NaN,0,NaN,120,Europe/Oslo,2018-05-08
600424,11722336,Bergensveien,Bergensveien,Bergensveien,59.96055,10.88632,R,ST,NO,None,12.0,301.0,NaN,NaN,0,NaN,220,Europe/Oslo,2018-05-11
600425,11722337,Bergensgata,Bergensgata,Bergensgata,59.94066,10.75923,R,ST,NO,None,12.0,301.0,NaN,NaN,0,NaN,89,Europe/Oslo,2018-05-11
601923,11872120,Bergene Skog,Bergene Skog,Bergene Skog,59.02188,9.98409,V,FRST,NO,None,38.0,3805.0,NaN,NaN,0,NaN,56,Europe/Oslo,2019-12-14
62824,8588606,Bergene,Bergene,Bergene,59.17524,10.01772,S,BDG,NO,None,38.0,3805.0,NaN,NaN,0,NaN,18,Europe/Oslo,2019-12-12
63799,8589582,Bergendal,Bergendal,Bergendal,58.64621,9.09784,S,BDG,NO,None,42.0,4213.0,NaN,NaN,0,NaN,48,Europe/Oslo,2019-12-12
97631,9066573,Bergenesstø,Bergenessto,"Bergenessto,Bergenesstø",58.65131,7.80883,T,HDLD,NO,None,42.0,4219.0,NaN,NaN,0,NaN,209,Europe/Oslo,2019-12-12

In [53]:
geo[geo.name=='Bergen']

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
342881,9463139,Bergen,Bergen,Bergen,59.61085,8.92091,S,FRM,NO,None,38.0,3819.0,NaN,NaN,0,NaN,138,Europe/Oslo,2019-12-12
37618,3161732,Bergen,Bergen,"BGO,Bargen,Berga,Bergen,Bergen (Hordaland Fylk...",60.39299,5.32415,P,PPLA,NO,None,46.0,4601.0,NaN,NaN,213585,NaN,20,Europe/Oslo,2019-12-12
37619,3161733,Bergen,Bergen,"Bargen,Berga,Bergen,Bergen osh,Bergena,Bergena...",60.39200,5.32800,A,ADM2,NO,None,46.0,4601.0,NaN,NaN,252051,NaN,180,Europe/Oslo,2019-12-13

In [54]:
from dhlab.nbtext import ner