In [1]:
import pandas as pd

In [2]:
skram_geo = pd.read_csv('skram_samlede_stedsnavn.csv')

In [11]:
skram_geo[skram_geo['1'] == 'Oslo']

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
429,19351,3143244,Oslo,Oslo,"Asloa,Christiania (historical),Kristiania (his...",59.91273,10.74609,P,PPLC,NO,NaN,12.0,301.0,NaN,NaN,580000,NaN,26,Europe/Oslo,2019-09-05
579,19351,3143244,Oslo,Oslo,"Asloa,Christiania (historical),Kristiania (his...",59.91273,10.74609,P,PPLC,NO,NaN,12.0,301.0,NaN,NaN,580000,NaN,26,Europe/Oslo,2019-09-05
581,53807,6453366,Oslo,Oslo,"Oslo,Oslo kommune,Osló",59.91183,10.73367,A,ADM2,NO,NaN,12.0,301.0,NaN,NaN,575475,NaN,18,Europe/Oslo,2017-04-19